.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom ::ng-deep .ng-select-container {            
    min-height: 27.5px;
}



.ng-select::ng-deep .ng-select-container .ng-value-container {
    align-items: stretch;
    padding: 0;
    border-top: 0;
}
