<div class="card">

    
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">

                    <small>Add Cities</small>
                </div>
                <div class="card-body">
                  
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="city">Select Country</label>
                            <ng-select class="custom" bindLabel="country_Name" bindValue="country_ID" [items]="countries" [(ngModel)]="cityModel.City_Country_ID" (change)="selectedCountry($event)">
                            </ng-select>
                        </div>

                        
                            <div class="form-group col-md-6">
                                <label for="city">Select States</label>
                                <ng-select class="custom" bindLabel="states_Name" bindValue="states_ID" [items]="states" [(ngModel)]="cityModel.City_States_ID" (change)="selectedState($event)">
                                </ng-select>
                            </div>
                     

                        
                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="district">Select District</label>
                            <ng-select class="custom" bindLabel="district_Name" bindValue="district_ID" [items]="districts" [(ngModel)]="cityModel.City_District_ID" (change)="selectedDistrict($event)">
                            </ng-select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="country">City Name</label>
                            <input type="text" class="form-control" id="country" [(ngModel)]="cityModel.City_Name" placeholder="Name">
                        </div>

                    </div>

                    
                    

                    
                    <!--/.row-->



                    <!--/.row-->

                </div>

            </div>
        </div>
        <!--/.col-->



    </div>
    <div class="card-footer" *ngIf="!update">
        <button class="btn-primary" (click)="addNewCity()"> Submit</button>
        <button class="btn-danger"(click)="Clear()"> Clear</button>
    </div>
    <div class="card-footer" *ngIf="update">
        <button class="btn-primary" (click)="updateCity()"> Update</button>
        <button class="btn-danger"(click)="Clear()"> Clear</button>
    </div>
    <ngx-datatable class="material colored-header sm table table-striped table-hover"
    [loadingIndicator]="loadingIndicator"
    [rows]="rows"
    [rowHeight]="35"
    [headerHeight]="35"
    [footerHeight]="35"
    [columns]="columns"
    [scrollbarV]="true"
    [columnMode]="'force'">
</ngx-datatable>

<ng-template #indexTemplatecity let-value="value">
<strong>{{value}}</strong>
</ng-template>


<ng-template #actionsTemplatecity let-row="row" let-value="value" let-i="index">
<a class="btn btn-link btn-sm" href="javascript:;" (click)="view(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'roles.management.Edit' | translate}}</a>
<a  class="btn btn-link btn-sm" href="javascript:;" (click)="delete(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'roles.management.Delete' | translate}}</a>
</ng-template>
</div>