
<div class="m-4">
	<button (click)="openPDF()">Get PDF</button>
</div>
<div class="row coupon-wrapper" id="pdfTable" style="align-items: center; text-align: center;" #pdfTable>

	<div class="coupon-container">
		<table class="coupon-detail">
			<tr>
				<td>AP File Number:</td>
				<td class="bold">{{this.pdfDataSharing.personModel.Person_File_number}}</td>
			</tr>
			<tr>
				<td>AP NAME:</td>
				<td class="bold">{{this.pdfDataSharing.personModel.Person_Name}}</td>
			</tr>
			<tr>
				<td>AP Contact Number:</td>
				<td class="signature">{{this.pdfDataSharing.personModel.Person_Contact_Number}}</td>
			</tr>
			<tr>
				<td>AP NIC:</td>
				<td class="bold">{{this.pdfDataSharing.personModel.Person_NIC}}</td>
			</tr>
		</table>
	</div>

</div>