<div class="card">


    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">

                    <small>Add Business Type</small>
                </div>
                <div class="card-body">

                    <div class="row">



                        <div class="form-group col-md-6">
                            <label for="country">Business Type Name</label>
                            <input type="text" class="form-control" id="country"
                                [(ngModel)]="businessType.businessTypeName" placeholder="Name">
                        </div>






                    </div>
                    <!--/.row-->



                    <!--/.row-->

                </div>

            </div>
        </div>
        <!--/.col-->



    </div>
    <div *ngIf="!update" class="card-footer">
        <button class="btn-primary" (click)="addnewBusinessType()"> Submit</button>
        <button class="btn-danger" (click)="Clear()"> Clear</button>
    </div>

    <div *ngIf="update" class="card-footer">
        <button class="btn-secondary" (click)="updateBusinessType()"> update</button>
        <button class="btn-danger" (click)="Clear()"> Clear</button>
    </div>



    <ngx-datatable class="material colored-header sm table table-striped table-hover"
        [loadingIndicator]="loadingIndicator" [rows]="rows" [rowHeight]="35" [headerHeight]="35" [footerHeight]="35"
        [columns]="columns" [scrollbarV]="true" [columnMode]="'force'">
    </ngx-datatable>

    <ng-template #indexTemplatebankType let-value="value">
        <strong>{{value}}</strong>
    </ng-template>


    <ng-template #actionsTemplatebankType let-row="row" let-value="value" let-i="index">
        <a class="btn btn-link btn-sm" href="javascript:;" (click)="view(row)"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i> {{'roles.management.Edit' | translate}}</a>
        <a class="btn btn-link btn-sm" href="javascript:;" (click)="delete(row)"><i class="fa fa-trash-o"
                aria-hidden="true"></i> {{'roles.management.Delete' | translate}}</a>
    </ng-template>

</div>